<%- include('../layouts/main') %>

<div class="row">
    <div class="col-md-12">
        <h2>Shared Folder: <%= folder.name %></h2>
        <div class="table-responsive mt-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Type</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% folder.files.forEach(function(file) { %>
                        <tr>
                            <td><%= file.name %></td>
                            <td><%= (file.size / 1024).toFixed(2) %> KB</td>
                            <td><%= file.type %></td>
                            <td>
                                <a href="<%= file.url %>" class="btn btn-primary btn-sm" download>Download</a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>